<h2 id="title">Welcome to Ember elev.io addon</h2>


{{!--{{#freestyle-guide--}}
{{!--title='Ember Freestyle'--}}
{{!--subtitle='Living Style Guide'--}}

  {{!--{{#freestyle-section name='Foo Things' as |section|}}--}}
    {{!--{{#freestyle-collection title='Foo Collection' defaultKey='normal' as |collection|}}--}}

      {{!--{{#freestyle-variant--}}
      {{!--collection=collection--}}
      {{!--key='normal'--}}
      {{!--class='FreestyleCollection-variant'--}}
        {{!--{{#freestyle-note 'foo-normal:notes'}}--}}
          {{!--#### Another Note About Normal--}}
          {{!--This comment is coming from a freestyle-note component.--}}
        {{!--{{/freestyle-note}}--}}
        {{!--{{#freestyle-annotation 'foo-normal'}}--}}
          {{!--<h4>A Note About Normal</h4>--}}
          {{!--<p>This comment is coming from a freestyle-annotation component.</p>--}}
        {{!--{{/freestyle-annotation}}--}}
        {{!--{{#freestyle-usage 'foo-normal'--}}
        {{!--title='Normal'--}}
        {{!--inline=(eq collection.activeKey 'all')--}}
          {{!--{{elevio-module module="support" text="Support"}}--}}
        {{!--{{/freestyle-usage}}--}}
      {{!--{{/freestyle-variant}}--}}
    {{!--{{/freestyle-collection}}--}}
  {{!--{{/freestyle-section}}--}}
{{!--{{/freestyle-guide}}--}}

{{elevio-module module="support" text="Support"}}
